{% extends "bet_base.html" %}

{% block title %} Bonuses {% endblock %}

{% block content %} 

<div class="container">
      <div class="row mt-3">
        {% if bonus_bet_enabled == 0 %}
          <div class="col col-1"><button type="button" class="btn btn-primary btn-lg" disabled>Edit</a></div>
          <div class="fw-bold text-primary">closed on {{bonus_deadline}}</div>
        {% else %}
          <div class="col col-1"><a href="{{ url_for('routes.edit_bonus') }}" class="btn btn-primary btn-lg" role="button">Edit</a></div>
          <div class="fw-bold text-primary">open until {{bonus_deadline}}</div>
        {% endif %}
      </div>

      <div class="row mt-3">
          <div class="col-4 col-form-label text-end"><label for="user_name">Champion</label></div>
          <div class="col-6"><input type="text" id="user_name" name="user_name" class="form-control" value="{{ champion.bonus_bet }}" disabled></div>
      </div>

      <div class="row mt-3">
          <div class="col-4 col-form-label text-end"><label for="user_pas">Top scorer</label></div>
          <div class="col-6"><input type="text" id="user_pass" name="user_pass" class="form-control" value="{{ topscorer.bonus_bet }}" disabled></div>
      </div>
</div>

<br><br>

{% if bonus_bet_enabled == 0 %}
<div class="container">
    <table class="table" id="myTab">
      
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Bonus</th>
            <th scope="col">Bet</th>
            <th scope="col">Points</th>
          </tr>
        </thead>

        
        <tbody>
            {% for m in users_bonuses %}
          <tr>
            <td>{{ m.user_name }}</td>
            <td>{{ m.bonus_name }}</td>
            <td>{{ m.bonus_bet }}</td>
            <td>{{ m.bonus_points }}</td>
          </tr>
            {% endfor %}
        </tbody>
        
      </table>
</div>
{% endif %} 

{% endblock %}