{% extends "bet_base.html" %}

{% block title %} Ranking Live {% endblock %}

{% block content %} 

<div class="container">
  {% if matches %}
    <a href="{{ url_for('routes.edit_live') }}" class="btn btn-primary btn-lg" role="button">Edit Live Results</a>
    <table class="table" style="width:1000px">
 
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Gr.</th>
            <th scope="col"></th>
            <th scope="col" colspan="3" class="text-center" >Your bet</th>
            <th scope="col"></th>
            <th scope="col" colspan="3" class="text-center">Live Result</th>
            <th scope="col" class="text-center">Points</th>
          </tr>
        </thead>
       
        <tbody>
            {% for m in matches %}
          <tr>
            <td scope="row" style="width:20%">{{ m.match_date }}</td>
            <td style="width:1%">{{ m.match_group }}</td>
            <td class="text-end">{{ m.team1 }}</td>
            <td style="width:5%"><input type="number" id="team1_res" name="team1_res"  class="form-control form-control-sm" value="{{ m.team1_res }}" disabled></td>
            <td style="width:1%">:</td>
            <td style="width:5%"><input type="number" id="team2_res" name="team2_res"  class="form-control form-control-sm" value="{{ m.team2_res }}" disabled></td>
            <td>{{ m.team2 }}</td>
            <td class="table-info" style="width:5%"><input type="number" id="team1_rres" name="team1_rres"  class="form-control form-control-sm" value="{{ m.team1_rres }}" disabled></td>
            <td class="table-info" style="width:1%">:</td>
            <td class="table-info" style="width:5%"><input type="number" id="team2_rres" name="team2_rres"  class="form-control form-control-sm" value="{{ m.team2_rres }}" disabled></td>
            <td class="table-info text-center" style="width:6%">{{ (m.points_draw + m.points_win + m.points_lucky_loser + m.points_bonus) if m.team1_rres is not none else '' }}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
  {% else %}
    <!-- <a href="{{ url_for('routes.edit_live') }}" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Edit Live Results</a> -->
    <div class="fw-bold text-primary">no matches scheduled for today</div>
  {% endif %}
</div>
<br>
<br>
<div class="container">
  <table class="table" style="width:800px" id="mytab">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Points</th>
          <th scope="col">Points live</th>
          <th scope="col">Points total</th>
        </tr>
      </thead>
     
      <tbody>
          {% for r in ranking %}
        <tr>
          <td class={{"table-info" if r.nick==login.user}} scope="row">{{ r.rank }}</td>
          <td class={{"table-info" if r.nick==login.user}} scope="row">{{ r.nick }}</td>
          <td class={{"table-info" if r.nick==login.user}} scope="row">{{ r.points }}</td>
          <td class={{"table-info" if r.nick==login.user}} scope="row">+{{ r.points_live }}</td>
          <td class={{"table-info" if r.nick==login.user}} scope="row">{{ r.points_total }}</td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}