{% from "macros.html" import show_messages  %} 

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- block css_js -->
    {% block css_js %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
    <!-- block title -->
    <title>{% block title %} Euro2024 {% endblock %}</title>

    <style>
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    </style>

  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          EURO2024
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if login.is_valid %}
            <li class="nav-item">
              <a class="nav-link {{active_matches}}" aria-current="page" href="{{ url_for('routes.matches') }}">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{active_bonuses}}" aria-current="page" href="{{ url_for('routes.bonuses') }}">Bonuses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{active_ranking}}" aria-current="page" href="{{ url_for('routes.ranking') }}">Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{active_results}}" aria-current="page" href="{{ url_for('routes.results') }}">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{active_ranking_live}}" aria-current="page" href="{{ url_for('routes.ranking_live') }}">Ranking live</a>
            </li>
            {% endif %}
            {% if not login.is_valid %}
            <li class="nav-item">
              <a class="nav-link {{active_login}}" aria-current="page" href="{{ url_for('routes.login') }}">Login</a>
            </li>
            {% endif %}
            {% if login.is_valid %}
            <li class="nav-item">
              <a class="nav-link {{active_logout}}" aria-current="page" href="{{ url_for('routes.logout') }}">Logout {{ session['user'] }} </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- end navbar -->

    {{ show_messages() }}

    <!-- block content -->
    {% block content%} Euro2024 {% endblock %}
  </body>
</html>